.App {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.comp {
  overflow: hidden;
  background-color: darkslategray;
}

.menu {
  top: 0;
  left: 0;
  right: 0;
  height: 276px;

  margin: 0;
  overflow: hidden;
  transition: height 0.7s ease-in-out;
}
.menu-hidden {
  height: 26px;
}
.addbox {
  position: relative;
  display: flex;
  height: 24px;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  border: 1px solid darkgray;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.txtinput {
  padding: 0;
  margin: 2px;
  width: 120px;
  height: 16px;
}
.volslider {
  flex: 0 0 auto;
  height: 12px;
  padding: 0 5px;
  z-index: 2;
  background-color: transparent;
}

.btn {
  flex: 0 0 auto;
  margin: 3px 2px;
  padding: 0 3px;
  height: 16px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: grey;
  cursor: pointer;
  z-index: 2;
}

.speed-active {
  background-color: green;
}

.progress-bar {
  position: absolute;
  background-color: black;
  height: 14px;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid white;
}
.progress-played {
  position: absolute;
  background-color: darkgreen;
  left: 0;
  top: 1px;
  bottom: 1px;
  border-right: 1px solid lightgrey;
  border-radius: 5px;
  z-index: 0;
}
.progress-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;

  z-index: 2;
}

.videolist {
  display: flex;
  overflow-x: scroll;
  background-color: black;
}

.listItem {
  flex: 0 0 140px;
  position: relative;
  border: 2px solid grey;
  padding: 0 1px;
  margin: 2px 2px;
  height: 247px;
  cursor: pointer;
  overflow: hidden;
  color: white;
  opacity: 0.8;
}
.active {
  border: 2px solid white;
  opacity: 1;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  padding: 0 4px;
  width: auto;
  opacity: 0.3;
  background-color: black;
  color: white;
  border: 1px solid white;
}
.closebtn:hover {
  opacity: 1;
}
.length {
  position: absolute;
  background-color: #000000;
  padding: 1px;
  bottom: 0;
  right: 0;
  width: auto;
  height: 18px;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 2;
}
.break {
  word-break: break-word;
}

.player-wrapper {
  top: 276px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  transition: top 0.7s ease-in-out;
}
.no-menu {
  top: 26px;
}

input[type="range"] {
  height: 13px;
  -webkit-appearance: none;
  margin: 6px 0;
  width: 120px;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 120px;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: white;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid black;
  height: 12px;
  width: 12px;
  border-radius: 20px;
  background: gray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: grey;
}
