input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 3.5px 0;
  }
  input[type=range].slider:focus {
    outline: none;
  }
  input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px #000000, 0px 0px 0px #0d0d0d;
    background: #323232;
    border-radius: 0px;
    border: 0px solid #000000;
  }
  input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 2px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background: #ff6e00;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
  }
  input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #b2b2b2;
  }
  input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px #000000, 0px 0px 0px #0d0d0d;
    background: #323232;
    border-radius: 0px;
    border: 0px solid #000000;
  }
  input[type=range].slider::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 2px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background: #ff6e00;
    cursor: pointer;
  }
  input[type=range].slider::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range].slider::-ms-fill-lower {
    background: #000000;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 2px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range].slider::-ms-fill-upper {
    background: #323232;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 2px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range].slider::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 2px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background: #ff6e00;
    cursor: pointer;
    height: 5px;
  }
  input[type=range].slider:focus::-ms-fill-lower {
    background: #323232;
  }
  input[type=range].slider:focus::-ms-fill-upper {
    background: #b2b2b2;
  }